.navbar-item a {
  text-decoration: none;
}
.navbar-item span {
  font-size: 20px;
}
.title {
  display: none;
}
a.active .title {
  display: block;
}

.navbar-item:has(a.active) {
  /* targeting the parent of the nav link */
  border-bottom: 2px solid #ffc107;
}

@media screen and (max-width: 300px) {
  .navbar-item span {
    font-size: 18px;
  }
}
