.img-wrapper {
  width: 100px;
  height: 100px;
}

.product {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.circle {
  height: 25px;
  width: 25px;
  background-color: rgb(201, 200, 200);
}
.naira p {
  margin-bottom: 0;
}

@media only screen and (max-width: 450px) {
  .product {
    grid-template-columns: repeat(2, 1fr);
  }
  .img-wrapper {
    width: 80px;
    height: 80px;
  }
}
