.custom-shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.services {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.custom-container {
  max-width: 520px;
  margin: auto;
  padding: 0 20px;
}
@media only screen and (max-width: 600px) {
  body {
    font-size: 14px !important ;
  }
}
